* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
    background-color: var(--color-background);
    color: var(--on-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: var(--font-primary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
    letter-spacing: var(--ls-h1);
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
    letter-spacing: var(--ls-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
    letter-spacing: var(--ls-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
    letter-spacing: var(--ls-h4);
}

p {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    letter-spacing: var(--ls-body);
}

small {
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
}

span {
    font-size: var(--fs-caption);
    font-weight: var(--fw-caption);
    letter-spacing: var(--ls-caption);
}

button {
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
}

a {
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
}

.body-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* Estilos para el header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    align-items: center;
    padding: 10px 40px;
}

header.scrolled {
    background-color: var(--color-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-container img {
    height: 60px;
    margin-right: 5px;
}

.logo-container h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--on-background);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 32px;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    color: var(--on-background);
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: var(--color-success);
}

.btn-reserva {
    background-color: var(--color-primary);
    color: var(--on-primary);
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
    transition: background-color 0.3s;
}

.btn-reserva:hover {
    background-color: var(--color-primary-variant);
}

/*Estilos para las secciones*/
.main-container {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.seccion-container {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/fondo-reservas.webp') no-repeat center center/cover;
    opacity: 0.5;
    z-index: 1;
}

.hero-text-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 20px;
}

.hero-text-container h1 {
    color: var(--color-primary-variant);
}

/*Seccion contacto*/
.contacto-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contacto-title-text {
    color: var(--on-background);
}

.contacto-title-subtext {
    color: var(--on-background);
}

.contacto-form-container button {
    background-color: var(--color-primary);
    color: var(--on-primary);
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.contacto-form-container button:hover {
    background-color: var(--color-primary-variant);
}

.contacto-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.contacto-form-container input,
textarea {
    width: 100vh;
    max-width: 500px;
    padding: 8px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-surface);
    color: #000;
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
}

.contacto-form-container textarea {
    font-family: var(--font-secondary);
    resize: none;
    width: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.contacto-form-container textarea::-webkit-scrollbar {
    width: 8px;
}

.contacto-form-container textarea::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
}

.error-message {
    color: var(--color-error);
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
}

/* Estilos para el footer */
footer {
    padding: 60px 0;
    background-color: var(--color-primary);
    color: var(--on-primary);
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-row h4 {
    font-size: 24px;
    font-weight: var(--fw-h4);
    letter-spacing: var(--ls-h4);
    margin-bottom: 16px;
    border-bottom: 2px solid var(--color-primary-variant);
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #bbb;
    font-size: var(--fs-button);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
    transition: all 0.3s ease;
    display: block;
    margin-bottom: 15px;
}

.footer-links ul li a:hover {
    color: var(--on-primary);
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.social-link a:hover {
    background-color: var(--on-background);
}

/*Estilos responsive*/
@media (max-width: 1000px) {
    .seccion-container {
        padding: 20px;
    }

    .contacto-form-container input,
    textarea {
        max-width: 400px;
    }
}

@media (max-width: 850px) {
    .nav-list li a {
        font-size: var(--fs-small);
        font-weight: bold;
        letter-spacing: var(--ls-small);
    }

    .contacto-title-text {
        font-size: var(--fs-h4-sm);
        font-weight: bold;
        letter-spacing: var(--ls-h4-sm);
    }

    .contacto-title-subtext {
        font-size: var(--fs-body-sm);
        font-weight: var(--fw-body-sm);
        letter-spacing: var(--ls-body-sm);
    }

    .contacto-form-container button {
        font-size: var(--fs-button-sm);
        font-weight: bold;
        letter-spacing: var(--ls-button-sm);
    }

}

@media (max-width: 803px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    nav {
        padding: 10px 0;
    }

    .nav-list li a {
        font-size: var(--fs-small);
        font-weight: bold;
        letter-spacing: var(--ls-small);
    }

    .main-container {
        margin-top: 140px;
        padding: 20px 10px;
    }

    .seccion-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        padding: 20px 10px;
    }

    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }

}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    .nav-list {
        flex-direction: row;
        gap: 8px;
    }

    .btn-reserva {
        text-align: center;
        width: 100%;
    }

    .contacto-form-container input,
    textarea {
        border-radius: 10px;
    }

    .contacto-form-container button {
        width: 100%;
        text-align: center;
    }
}