* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    background-color: rgb(14, 14, 14);
    color: var(--on-background);
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/fondo-reservas.webp") no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
}

h1 {
    font-family: var(--font-primary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
    letter-spacing: var(--ls-h1);
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
    letter-spacing: var(--ls-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
    letter-spacing: var(--ls-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
    letter-spacing: var(--ls-h4);
}

p {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    letter-spacing: var(--ls-body);
}

small {
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
}

span {
    font-size: var(--fs-caption);
    font-weight: var(--fw-caption);
    letter-spacing: var(--ls-caption);
}

button {
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
}

a {
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: flex-start;
    min-height: 80px;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--color-primary-variant);
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-container img {
    height: 60px;
    margin-right: 5px;
}

.logo-container h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--on-primary);
}

/*Estilos para el nav*/
.pasos-reserva {
    width: 100%;
    background-color: var(--color-background);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.pasos-reserva ul {
    display: flex;
    gap: 120px;
    padding: 0;
    margin: 0;
}

.pasos-reserva i {
    margin-right: 8px;
}

.pasos-reserva .paso {
    padding: 10px 16px;
    color: #777;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    user-select: none;
}

.pasos-reserva .paso:hover {
    color: #aaa;
}

.pasos-reserva .paso.activo {
    color: #000;
}

/*Estilos para los sections*/
main.secciones-reserva {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 20px;
    min-height: 0;
}

.seccion-reserva {
    display: none;
}

.seccion-reserva.activo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
}

.seccion-reserva.activo h1 {
    color: #fff;
}


.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    gap: 32px;
}

.titulo {
    width: 100%;
    border-bottom: 1px solid var(--on-primary);
    padding: 10px;
}

.titulo h4 {
    color: var(--on-primary);
}

/*Formulario datos reserva*/
#container-datos {
    gap: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
    margin: 40px 0px;
    width: 80%;
}

.form-container .inputs .input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.form-container .inputs .input-container label {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    letter-spacing: var(--ls-body);
    color: var(--on-primary);
}

.form-container .inputs .input-container input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--on-primary);
    background-color: transparent;
    color: var(--on-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    letter-spacing: var(--ls-body);
}

.form-container .terminos-condiciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .terminos-condiciones .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.form-container .terminos-condiciones .input-container input {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid var(--on-primary);
}

.form-container .terminos-condiciones .input-container label {
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
    color: var(--on-primary);
}

.form-container .terminos-condiciones .input-container a {
    color: var(--on-primary);
    text-decoration: underline;
    font-size: var(--fs-small);
    font-weight: var(--fw-small);
    letter-spacing: var(--ls-small);
}

.form-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 100%;
}

.form-container .button button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-primary-variant);
    color: var(--on-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-container .button button:hover {
    background-color: var(--on-primary);
    color: var(--color-primary-variant);
}

/*Botones personas*/
.botones-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fila {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    /* por si se reduce el ancho */
}

.boton-personas {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    border: 0.5px solid #fff;
    color: var(--on-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-button);
    letter-spacing: var(--ls-button);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-personas:hover {
    background-color: var(--on-primary);
    color: var(--color-primary-variant);
}

/*Botones hora*/
.botones-horas {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.fila-horas {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;
}

.horas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.btn-hora {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    min-width: 150px;
    height: 30px;
    border-radius: 16px;
    background-color: transparent;
    border: 0.5px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--on-primary);
    text-align: center;
}

.btn-hora.disponible {
    border: 2px solid var(--color-success);
}

.btn-hora.no-disponible {
    border: 2px solid var(--color-error);
    text-decoration: line-through;
    cursor: not-allowed;
}

.btn-hora.disponible:hover {
    background-color: var(--color-success);
    color: var(--on-primary);
}

.btn-hora.no-disponible:hover {
    background-color: transparent;
    color: var(--on-primary);
}


/* Botones mesas */
.botones-mesas {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

/* Botones de la sala */
.cabecera {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-cabecera {
    border: 0.5px solid #fff;
    background-color: transparent;
    color: var(--on-primary);
    border-radius: 16px;
    min-width: 170px;
    min-height: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.btn-cabecera.activo {
    background-color: var(--color-primary-variant);
}

.btn-cabecera.no-activo:hover {
    background-color: var(--color-primary-variant);
    color: var(--on-primary);
}

/* Botones de la mesa */
.mesas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-items: center;
}

.btn-mesa {
    padding: 4px 40px;
    min-width: 134px;
    height: 30px;
    border-radius: 16px;
    background-color: transparent;
    border: 0.5px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    color: var(--on-primary);
}

.btn-mesa.disponible {
    border: 2px solid var(--color-success);
}

.btn-mesa.no-disponible {
    border: 2px solid var(--color-error);
    text-decoration: line-through;
}

.btn-mesa.disponible:hover {
    background-color: var(--color-success);
    color: var(--on-primary);
}

.btn-mesa.no-disponible:hover {
    cursor: not-allowed;
}

/* Footer pequeño */
footer {
    background-color: var(--color-primary-variant);
    color: #f2e9e4;
    text-align: center;
    padding: 10px;
    font-size: var(--fs-small);
}

/*Escalados*/

@media (max-width: 1060px) {
    .pasos-reserva ul {
        gap: 40px;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .pasos-reserva ul::-webkit-scrollbar {
        height: 6px;
    }

    .pasos-reserva ul::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }

    .pasos-reserva {
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pasos-reserva .paso {
        white-space: nowrap;
        font-size: 14px;
    }

    header {
        padding: 10px 20px;
    }

    .logo-container h4 {
        font-size: 20px;
    }

    main.secciones-reserva {
        padding: 10px;
    }

    footer {
        font-size: var(--fs-small-sm);
        padding: 8px;
    }
}

@media (max-width: 700px) {
    .mesas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 14px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .pasos-reserva ul {
        gap: 20px;
    }

    .logo-container img {
        height: 45px;
    }

    .logo-container h4 {
        font-size: 18px;
    }

    .pasos-reserva .paso {
        font-size: 12px;
    }

    .mesas {
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
        width: 100%;
    }

    .btn-mesa {
        padding: 4px 20px;
        min-width: 100px;
        height: 30px;
        font-size: var(--fs-button-sm);
    }

    .btn-cabecera {
        min-width: 120px;
        min-height: 30px;
        font-size: var(--fs-button-sm);
    }

    .titulo-mesa h4 {
        font-size: var(--fs-h4-sm);
    }
}